<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />

    <title>GOLDi LABS Update Server</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body class="flex flex-col min-h-screen">
    {% include "includes/header.html" %} {% block content %} {% endblock %}

    <div class="flex-grow"></div>

    {% include "includes/footer.html" %}
  </body>
</html>
