BLOCK ASYNCPATHS ;
BLOCK RESETPATHS ;
FREQUENCY 54.00000 MHz ;
#External clock and reset
IOBUF PORT "ClockFPGA" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ClockFPGA" SITE "128" ;
IOBUF PORT "FPGA_nReset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "FPGA_nReset" SITE "126" ;
#SPI communication with RaspberryPie
IOBUF PORT "SPI0_SCLK" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "SPI0_SCLK" SITE "138" ;
IOBUF PORT "SPI0_nCE0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "SPI0_nCE0" SITE "127" ;
IOBUF PORT "SPI0_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MOSI" SITE "133" ;
IOBUF PORT "SPI0_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MISO" SITE "139" ;
# FPGA IO Pins
LOCATE COMP "IO_DATA[0]" SITE "125" ;
LOCATE COMP "IO_DATA[1]" SITE "122" ;
LOCATE COMP "IO_DATA[2]" SITE "83" ;
LOCATE COMP "IO_DATA[3]" SITE "84" ;
LOCATE COMP "IO_DATA[4]" SITE "85" ;
LOCATE COMP "IO_DATA[5]" SITE "87" ;
LOCATE COMP "IO_DATA[6]" SITE "86" ;
LOCATE COMP "IO_DATA[7]" SITE "89" ;
LOCATE COMP "IO_DATA[8]" SITE "92" ;
LOCATE COMP "IO_DATA[9]" SITE "91" ;
LOCATE COMP "IO_DATA[10]" SITE "99" ;
LOCATE COMP "IO_DATA[11]" SITE "93" ;
LOCATE COMP "IO_DATA[12]" SITE "94" ;
LOCATE COMP "IO_DATA[13]" SITE "95" ;
LOCATE COMP "IO_DATA[14]" SITE "96" ;
LOCATE COMP "IO_DATA[15]" SITE "97" ;
LOCATE COMP "IO_DATA[16]" SITE "98" ;
LOCATE COMP "IO_DATA[17]" SITE "100" ;
LOCATE COMP "IO_DATA[18]" SITE "103" ;
LOCATE COMP "IO_DATA[19]" SITE "104" ;
LOCATE COMP "IO_DATA[20]" SITE "112" ;
LOCATE COMP "IO_DATA[21]" SITE "111" ;
LOCATE COMP "IO_DATA[22]" SITE "113" ;
LOCATE COMP "IO_DATA[23]" SITE "105" ;
LOCATE COMP "IO_DATA[24]" SITE "106" ;
LOCATE COMP "IO_DATA[25]" SITE "107" ;
LOCATE COMP "IO_DATA[26]" SITE "109" ;
LOCATE COMP "IO_DATA[27]" SITE "110" ;
LOCATE COMP "IO_DATA[28]" SITE "141" ;
LOCATE COMP "IO_DATA[29]" SITE "140" ;
LOCATE COMP "IO_DATA[30]" SITE "10" ;
LOCATE COMP "IO_DATA[31]" SITE "11" ;
LOCATE COMP "IO_DATA[32]" SITE "12" ;
LOCATE COMP "IO_DATA[33]" SITE "73" ;
LOCATE COMP "IO_DATA[34]" SITE "74" ;
LOCATE COMP "IO_DATA[35]" SITE "75" ;
LOCATE COMP "IO_DATA[36]" SITE "76" ;
LOCATE COMP "IO_DATA[37]" SITE "77" ;
LOCATE COMP "IO_DATA[38]" SITE "78" ;
LOCATE COMP "IO_DATA[39]" SITE "81" ;
LOCATE COMP "IO_DATA[40]" SITE "82" ;
IOBUF PORT "IO_DATA[0]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[1]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[2]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[3]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[4]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[5]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[6]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[7]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[8]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[9]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[10]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[11]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[12]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[13]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[14]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[15]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[16]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[17]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[18]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[19]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[20]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[21]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[22]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[23]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[24]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[25]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[26]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[27]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[28]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[29]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[30]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[31]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[32]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[33]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[34]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[35]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[36]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[37]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[38]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[39]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[40]" IO_TYPE=LVCMOS33 DRIVE=8 ;
