BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY 54.00000 MHz ;
#External clock and reset
IOBUF PORT "FPGA_nReset" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "FPGA_nReset" SITE "139" ;
#SPI communication with RaspberryPie
IOBUF PORT "SPI0_SCLK" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "SPI0_SCLK" SITE "143" ;
IOBUF PORT "SPI0_nCE0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "SPI0_nCE0" SITE "142" ;
IOBUF PORT "SPI0_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MOSI" SITE "141" ;
IOBUF PORT "SPI0_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MISO" SITE "140" ;
# FPGA IO Pins
LOCATE COMP "IO_DATA[0]"  SITE "97" ;
LOCATE COMP "IO_DATA[1]"  SITE "98" ;
LOCATE COMP "IO_DATA[2]"  SITE "99" ;
LOCATE COMP "IO_DATA[3]"  SITE "100" ;
LOCATE COMP "IO_DATA[4]"  SITE "104" ;
LOCATE COMP "IO_DATA[5]"  SITE "105" ;
LOCATE COMP "IO_DATA[6]"  SITE "106" ;
LOCATE COMP "IO_DATA[7]"  SITE "107" ;
LOCATE COMP "IO_DATA[8]"  SITE "109" ;
LOCATE COMP "IO_DATA[9]"  SITE "111" ;
LOCATE COMP "IO_DATA[10]" SITE "113" ;
LOCATE COMP "IO_DATA[11]" SITE "115" ;
LOCATE COMP "IO_DATA[12]" SITE "110" ;
LOCATE COMP "IO_DATA[13]" SITE "112" ;
LOCATE COMP "IO_DATA[14]" SITE "114" ;
LOCATE COMP "IO_DATA[15]" SITE "117" ;
IOBUF PORT "IO_DATA[0]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[1]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[2]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[3]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[4]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[5]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[6]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[7]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP;
IOBUF PORT "IO_DATA[8]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[9]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[10]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[11]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[12]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[13]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[14]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
IOBUF PORT "IO_DATA[15]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=DOWN;
