FREQUENCY 48.000000 MHz ;
BLOCK ASYNCPATHS ;
BLOCK RESETPATHS ;



#Design Clock 48MHz
LOCATE COMP "ClockFPGA" SITE "128" ;
IOBUF PORT "ClockFPGA" IO_TYPE=LVCMOS33 DRIVE=NA PULLMODE=DOWN ;

#FPGA Reset
LOCATE COMP "FPGA_nReset" SITE "126" ;
IOBUF PORT "FPGA_nReset" IO_TYPE=LVCMOS33 PULLMODE=UP ;

#Main SPI mosi
LOCATE COMP "SPI0_MOSI" SITE "133" ;
IOBUF PORT "SPI0_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#Main SPI sck
LOCATE COMP "SPI0_SCLK" SITE "138" ;
IOBUF PORT "SPI0_SCLK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#Main spi nce0
LOCATE COMP "SPI0_nCE0" SITE "127" ;
IOBUF PORT "SPI0_nCE0" IO_TYPE=LVCMOS33 PULLMODE=UP ;

#Main spi nce1
LOCATE COMP "SPI0_nCE1" SITE "132" ;
IOBUF PORT "SPI0_nCE1" IO_TYPE=LVCMOS33 PULLMODE=UP ;

#Serial In
LOCATE COMP "RXD0" SITE "143" ;
IOBUF PORT "RXD0" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#Main SPI miso
LOCATE COMP "SPI0_MISO" SITE "139" ;
IOBUF PORT "SPI0_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#Secondary SPI miso
#LOCATE COMP "SPI1_MISO" SITE "137" ;
IOBUF PORT "SPI1_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#GPIO0
LOCATE COMP "IO_DATA[0]" SITE "125" ;
IOBUF PORT "IO_DATA[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#GPI1
LOCATE COMP "IO_DATA[1]" SITE "122" ;
IOBUF PORT "IO_DATA[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_LSLeft
LOCATE COMP "IO_DATA[2]" SITE "84" ;
IOBUF PORT "IO_DATA[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_LSRight
LOCATE COMP "IO_DATA[3]" SITE "85" ;
IOBUF PORT "IO_DATA[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_LSBack
LOCATE COMP "IO_DATA[4]" SITE "92" ;
IOBUF PORT "IO_DATA[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_LSFront
LOCATE COMP "IO_DATA[5]" SITE "91" ;
IOBUF PORT "IO_DATA[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_LSDown
LOCATE COMP "IO_DATA[6]" SITE "114" ;
IOBUF PORT "IO_DATA[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_LSUp
LOCATE COMP "IO_DATA[7]" SITE "113" ;
IOBUF PORT "IO_DATA[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#Sensor_Proximity
LOCATE COMP "IO_DATA[8]" SITE "23" ;
IOBUF PORT "IO_DATA[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_EncA
LOCATE COMP "IO_DATA[9]" SITE "87" ;
IOBUF PORT "IO_DATA[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_EncB
LOCATE COMP "IO_DATA[10]" SITE "89" ;
IOBUF PORT "IO_DATA[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_EncI
LOCATE COMP "IO_DATA[11]" SITE "86" ;
IOBUF PORT "IO_DATA[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_EncA
LOCATE COMP "IO_DATA[12]" SITE "104" ;
IOBUF PORT "IO_DATA[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_EncB
LOCATE COMP "IO_DATA[13]" SITE "105" ;
IOBUF PORT "IO_DATA[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_CLK 
LOCATE COMP "IO_DATA[14]" SITE "78" ;
IOBUF PORT "IO_DATA[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_ENN
LOCATE COMP "IO_DATA[15]" SITE "77" ;
IOBUF PORT "IO_DATA[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_SG
LOCATE COMP "IO_DATA[16]" SITE "83" ;
IOBUF PORT "IO_DATA[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_SCK
LOCATE COMP "IO_DATA[17]" SITE "75" ;
IOBUF PORT "IO_DATA[17]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_nCS
LOCATE COMP "IO_DATA[18]" SITE "76" ;
IOBUF PORT "IO_DATA[18]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_MOSI
LOCATE COMP "IO_DATA[19]" SITE "74" ;
IOBUF PORT "IO_DATA[19]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_MISO 
LOCATE COMP "IO_DATA[20]" SITE "73" ;
IOBUF PORT "IO_DATA[20]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_DIR 
LOCATE COMP "IO_DATA[21]" SITE "82" ;
IOBUF PORT "IO_DATA[21]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#XAxis_STEP
LOCATE COMP "IO_DATA[22]" SITE "81" ;
IOBUF PORT "IO_DATA[22]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_Clk
LOCATE COMP "IO_DATA[23]" SITE "103" ;
IOBUF PORT "IO_DATA[23]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_ENN
LOCATE COMP "IO_DATA[24]" SITE "100" ;
IOBUF PORT "IO_DATA[24]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_SG
LOCATE COMP "IO_DATA[25]" SITE "95" ;
IOBUF PORT "IO_DATA[25]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_SCK
LOCATE COMP "IO_DATA[26]" SITE "98" ;
IOBUF PORT "IO_DATA[26]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_nCS
LOCATE COMP "IO_DATA[27]" SITE "99" ;
IOBUF PORT "IO_DATA[27]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_MOSI
LOCATE COMP "IO_DATA[28]" SITE "97" ;
IOBUF PORT "IO_DATA[28]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_MISO
LOCATE COMP "IO_DATA[29]" SITE "96" ;
IOBUF PORT "IO_DATA[29]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_DIR
LOCATE COMP "IO_DATA[30]" SITE "94" ;
IOBUF PORT "IO_DATA[30]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#YAxis_STEP
LOCATE COMP "IO_DATA[31]" SITE "93" ;
IOBUF PORT "IO_DATA[31]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_DCEnable
LOCATE COMP "IO_DATA[32]" SITE "107" ;
IOBUF PORT "IO_DATA[32]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_DCAPWM 
LOCATE COMP "IO_DATA[33]" SITE "109" ;
IOBUF PORT "IO_DATA[33]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_DCBPWM
LOCATE COMP "IO_DATA[34]" SITE "110" ;
IOBUF PORT "IO_DATA[34]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_MagnetEnable
LOCATE COMP "IO_DATA[35]" SITE "111" ;
IOBUF PORT "IO_DATA[35]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_MagnetAPWM
LOCATE COMP "IO_DATA[36]" SITE "106" ;
IOBUF PORT "IO_DATA[36]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#ZAxis_MagnetBPWM
LOCATE COMP "IO_DATA[37]" SITE "112" ;
IOBUF PORT "IO_DATA[37]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#LEDPowerR
LOCATE COMP "IO_DATA[38]" SITE "141" ;
IOBUF PORT "IO_DATA[38]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#LEDPowerG
LOCATE COMP "IO_DATA[39]" SITE "140" ;
IOBUF PORT "IO_DATA[39]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#LightRed
LOCATE COMP "IO_DATA[40]" SITE "33" ;
IOBUF PORT "IO_DATA[40]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#LightWhite
LOCATE COMP "IO_DATA[41]" SITE "34" ;
IOBUF PORT "IO_DATA[41]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#LightGreen
LOCATE COMP "IO_DATA[42]" SITE "35" ;
IOBUF PORT "IO_DATA[42]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;