[Unit]
Description=WireGuard via wg-quick for wg-goldi

Documentation=man:wg-quick(8)
Documentation=man:wg(8)
Documentation=https://www.wireguard.com/
Documentation=https://www.wireguard.com/quickstart/
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg-quick.8
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg.8

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/wg-quick up /data/network-config/wg-goldi.conf
ExecStop=/usr/bin/wg-quick down /data/network-config/wg-goldi.conf
ExecReload=/bin/bash -c 'exec /usr/bin/wg syncconf /data/network-config/wg-goldi.conf <(exec /usr/bin/wg-quick strip /data/network-config/wg-goldi.conf)'
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
