{% set
text = {
    start: 'Start',
    short_description: 'That is a small description of the remote lab. This is just a placholder.',

    description_headline: 'What is GOLDi LABS?',
    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
    possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!',

    teaser:[
        {
            headline: 'Für Studierende',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
            possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!'
        },
        {
            headline: 'Für Lehrende',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
            possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!'
        },
        {
            headline: 'Für Studierende',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
            possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!',
            image: '/img/Laptop.png'
        }
    ],

    functional_headline: 'How does GOLDi LABS work?',
    functional_description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa
    nostrum mollitia possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi
    expedita!',

    action_headline: 'Now it is your turn.',
    action_description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
} %}
{% if language=='de' %}
{% set
text = {
    start: 'Starten',
    short_description: 'Das ist ein kleiner Text, wo in 2 Sätzen erklärt wird, worum es hier geht. Der Text wird noch
    ausgearbeitet.',

    description_headline: 'Was ist GOLDi LABS?',
    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
    possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!',

    teaser:[
        {
            headline: 'Für Studierende',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
            possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!',
            image: '/img/Student.svg'
        },
        {
            headline: 'Für Lehrende',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
            possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!',
            image: '/img/Teacher.svg'
        },
        {
            headline: 'Für Interessierte',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa nostrum mollitia
            possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi expedita!',
            image: '/img/Laptop.svg'
        }
    ],

    functional_headline: 'Wie funktioniert GOLDi LABS?',
    functional_description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, neque voluptas. Iusto culpa
    nostrum mollitia possimus odio fugiat ratione perferendis maxime, nobis quo, ad cum sint, ipsam quam excepturi
    expedita!',

    action_headline: 'Jetzt bist du dran!',
    action_description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
} %}
{% endif %}
{% extends "layout.html" %}
{% block main %}
    <!-- Startbild neu -->
    <div class="hidden lg:block w-full h-screen mb-[-3.5rem] pb-14">
        <div class="flex flex-row h-full bg-cover items-center bg-primary-700">
            <div class="flex flex-col w-max text-left font-body pl-10">
                <div class="text-center">
                    <span class="text-primary-50 text-6xl 2xl:text-7xl">GOLDi LABS</span>
                    <div class="h-line my-5"></div>
                    <span class="text-primary-300 text-3xl 2xl:text-4xl">Real labs at your home</span>
                </div>
                <div class="w-80 mr-auto text-primary-50 my-5">
                    {{ text.short_description }}
                </div>
                <div>
                    <button class="secondary-button">
                        {{ text.start }}
                    </button>
                </div>
            </div>
            <div class="h-full bg-[url('/img/landing.jpg')] bg-cover flex-grow"></div>
        </div>
    </div>
    <div class="block lg:hidden w-full h-screen mb-[-3.5rem] pb-14">
        <div class="flex flex-col h-full bg-cover items-center bg-primary-700">
            <div class="flex flex-col w-max text-center font-body -mb-10 z-10 pt-10">
                <div class="text-center">
                    <span class="text-primary-50 text-6xl 2xl:text-7xl">GOLDi LABS</span>
                    <div class="h-line my-5"></div>
                    <span class="text-primary-300 text-3xl 2xl:text-4xl">Real labs at your home</span>
                </div>
                <div class="w-80 mr-auto text-primary-50 my-5">
                    {{ text.short_description }}
                </div>
                <div>
                    <button class="secondary-button">
                        {{ text.start }}
                    </button>
                </div>
            </div>
            <div class="w-full bg-[url('/img/landing_s.jpg')]  bg-cover flex-grow bg-top"></div>
        </div>
    </div>
    <!-- Was ist GOLDi LABS? -->
    <div class="max-w-6xl w-full mx-auto py-16 font-body">
        <div class="mx-auto flex flex-wrap-reverse justify-center gap-10">
            <div class="max-w-lg px-10">
                <img class="w-full" src="/img/landing2.png" alt="Logo"></div>
                <div class="max-w-md px-10 space-y-10">
                    <div class="text-4xl font-bold text-primary-700">{{ text.description_headline }}</div>
                    <div>{{ text.description }}</div>
                    <div class="h-line"></div>
                </div>
            </div>
        </div>
        <!-- Für... -->
        <div class="w-full bg-primary-200 mt-14 px-10">
            <div class=" flex relative -top-10 justify-between mx-auto flex-col lg:flex-row max-w-md lg:max-w-6xl gap-10 font-body">
                {% for item in text.teaser %}
                    <div class="bg-primary-50 rounded-3xl p-5 lg:w-80 w-full shadow-xl text-center">
                        <img class="h-20 mx-auto" src="{{ item.image }}"/>
                        <div class="text-3xl pb-2 font-bold mx-auto">{{ item.headline }}</div>
                        <div>{{ item.description }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Wie funktioniert GOLDi LABS?-->
        <div class="w-full bg-[url('/img/landing3.jpg')] bg-cover">
            <div class="max-w-6xl p-20 mx-auto">
                <div class="max-w-md space-y-5 mx-auto lg:mx-0 font-body">
                    <div class="h-line"></div>
                    <div class="text-3xl font-bold text-primary-50">{{ text.functional_headline }}</div>
                    <div class="text-primary-50">
                        {{ text.functional_description }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Jetzt bist du dran! -->
        <div class="p-11">
            <div class="w-80 space-y-3 mx-auto text-center font-body">
                <div class="text-3xl font-bold pb-2">{{ text.action_headline }}</div>
                <div class="pb-5">
                    {{ text.action_description }}
                </div>
                <button class="secondary-button">
                    {{ text.start }}
                </button>
            </div>
        </div>
        <div class="flex-grow"></div>
    {% endblock %}