@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bold-width{
  text-align: center;
}

.bold-width::before {
  display: block;
  margin-top: 0;
  content: attr(data-text);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.h-line {
  @apply w-full h-0.5 bg-secondary;
}

input[type=text], input[type=password] {
  @apply inline-block w-full bg-white h-8 rounded-lg p-2 out-shadow-input
}

.section {
  @apply bg-primary-100 p-10 rounded-3xl out-shadow-section;
}

.simple > section {
  @apply bg-primary-100 p-10 rounded-3xl out-shadow-section;
}

.simple > section > section {
  @apply bg-primary-50 p-5 my-5 rounded-3xl inner-shadow-section;
}


.simple > h2 {
  @apply text-primary-700 text-xl;
}

.inner-shadow-section {
  box-shadow: 2px 2px 4px #CCCCCC inset;
}

.out-shadow-section {
  box-shadow: 0 4px 6px -2px #CCCCCC;
}

.out-shadow-input {
  box-shadow: 0px 1px 3px 0px #CCCCCC;
}

@layer base {
  h2 {
    @apply text-xl font-semibold;
  }
}

.primary-button {
  @apply bg-primary rounded-3xl px-8 py-1 text-primary-50 text-xl hover:bg-primary-700 duration-300;
}

.secondary-button {
  @apply bg-secondary rounded-3xl px-8 py-1 text-primary-50 text-xl hover:bg-secondary-800 duration-300;
}

/*------------Header------------*/

/*--Normaler Dropdown--*/
.normal-dropdown {
  display: inline-block;
  position: relative;
}

.normal-dropdown-content {
  display: none;
  position: absolute;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 5px;
  border-radius: 0px 0px 10px 10px;
  background-color: #06152a;
}

.normal-dropdown-content a {
  float: none;
  color: white;
  margin: 7px 11px;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.normal-dropdown-content a:hover {
  background-color: #1c355d;
  border-radius: 8px;
  transition-duration: 200ms;
}

.normal-dropdown:hover .normal-dropdown-content {
  display: block;
  background-color: #06152a;
}

.dropdown > div:first-child {
  display: none;
}

.dropdown:hover > div:first-child {
  display: block;
}

/*--MEGA MENU--*/
body {
  margin: 0;
}

h5 {
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #f2ab55;
  padding-bottom: 5px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  color: white;
  padding: 5px;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #06152a;
  width: 50%;
  align-content: flex-end;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  height: 350px;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.column a {
  float: none;
  color: white;
  margin: 7px 11px;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: small;
}

.column a:hover {
  background-color: #1c355d;
  border-radius: 8px;
  transition-duration: 200ms;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

/*------------FAQ------------*/
.faq > section {
  @apply bg-primary-100 p-5 rounded-3xl out-shadow-section;
}

.faq > section:hover, .faq > section:active {
  background-color: #d7e4f0;
  transition-duration: 500ms;
}

.collapsible {
  color: black;
  cursor: pointer;
  padding-left: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
}

.content {
  padding: 10px;
  display: none;
  overflow: hidden;
}

/* Table */
table {
  @apply mx-auto overflow-hidden rounded drop-shadow;
}
table > thead {
  @apply text-xs uppercase bg-primary-200 shadow-inset;
}
table > thead > tr > th {
  @apply px-6 py-2;
}
table > tbody > tr {
  @apply odd:bg-primary-50 even:bg-primary-100;
}
table > tbody > tr > td{
  @apply px-6 text-ellipsis overflow-hidden whitespace-nowrap;
}

/* Copy on Click */
.copy-on-click {
  @apply cursor-pointer relative select-none transition-colors duration-200;
}

.copy-on-click:active {
  @apply duration-0 bg-secondary-200;
}

.copy-on-click:after{
  @apply text-xs  absolute top-0 right-0 p-2 rounded-bl bg-secondary-200 hidden;
  content: "Copy";
}

.copy-on-click:hover:after{
  @apply block;
}