{% import "components/login_wall.html" as login_wall %}

{% set title = "LTI 1.3 Tool Registration" %}
    
{% extends "simple.html" %}
{% block content %}
    {% call login_wall.wrapper(isLoggedIn) %}
    <p>Input the following information into your LMS to register the tool:</p>
    <table>
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <td>Tool Name</td><td class="copy-on-click">Crosslab</td></tr>
            <tr><td>Tool URL</td><td class="copy-on-click">{{ tool.base_url }}</td></tr>
            <tr><td>Tool Description</td><td class="copy-on-click">Allows to execute CrossLab compatible experiments.</td></tr>
            <tr><td>LTI Version</td><td>LTI 1.3</td></tr>
            <tr><td>Public key type</td><td>Keyset URL</td></tr>
            <tr><td>Public keyset</td><td class="copy-on-click">{{ tool.jwks_url }}</td></tr>
            <tr><td>Initiate login URL</td><td class="copy-on-click">{{ tool.login_url }}</td></tr>
            <tr><td>Redirection URI(s)</td><td class="copy-on-click">{{ tool.redirect_urls | join('<br>') }}</td></tr>
            <tr><td>Icon URL</td><td class="copy-on-click">{{ tool.icon_url }}</td>
    </table>
    <p>To complete the registration, open the tool in a moodle course. This site will automatically redirect you to the platform page once the registration is complete.</p>
    <p>If the registration is not completed in the next 3 days, the platform registration process will be cancled.</p>
    <script>
        setInterval(function() {
            fetch('registration/status?platform={{platform.uri}}').then(response => response.text()).then(response => {
                if (response === 'complete') {
                    window.location.href = 'platform?platform={{platform.uri}}';
                }
            });
        }, 5000);
    </script>
    {% endcall %}
<div class="flex-grow"></div>
{% endblock %}