[Unit]
Description=Resets the root password
DefaultDependencies=no
ConditionPathExists=!/data-local/etc-overlay/shadow
ConditionPathExists=/boot/password
After=data.mount
Before=etc-shadow.mount

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sed -e "s,^root:[^:]*:,root:"$(cat /boot/password)":," /data-factory/shadow > /data/shadow'

[Install]
WantedBy=multi-user.target