{% extends "admin_layout.html" %}
{% import "components/topbar.html" as topbar %}
{% import "components/elements.html" as elements %}
{% block content %}
    {% call topbar.container() %}
    {% call topbar.topbar() %}
    {% endcall %}
    {% call topbar.content() %}
    <div class="w-96 mx-auto">
        <form class="space-y-2" method="POST">
            <input type="text" name="name" value="{{ role.name }}" placeholder="Name" />
            <input type="text" name="scopes" value="{{ role.scopes | dump }}" placeholder="Scopes" />
            {% if create %}
                <input class="primary-button" type="submit" value="Create"/>
            {% else %}
                <input class="primary-button" type="submit" value="Update"/>
            {% endif %}
        </form>
    </div>
    {% endcall %}
    {% endcall %}
{% endblock %}