{% extends "admin_layout.html" %}
{% import "components/topbar.html" as topbar %}
{% import "components/elements.html" as elements %}
{% block content %}
    {% call topbar.container() %}
    {% call topbar.topbar() %}
    {% call topbar.element() %}{% call elements.button(language, href="/admin/roles/create", icon="add") %}Add Role{% endcall %}{% endcall %}
    {% endcall %}
    {% call topbar.content() %}
    <div class="flex ml-4">
        <div class="text-ellipsis w-52">
            Username
        </div>
        <div class="w-52"></div>
    </div>
    {% for role in roles %}
        <div class="flex flex-col hover:bg-primary-100 ml-4">
            <div class="flex flex-row">
                <div class="text-ellipsis w-52">
                    {{ role.name }}
                </div>
                <div class="w-52">
                    <a href="roles/details?url={{ role.url }}" class="material-symbols-rounded">edit</a>
                    <a href="roles/delete?url={{ role.url }}" class="material-symbols-rounded">delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endcall %}
    {% endcall %}
{% endblock %}