{% extends "simple.html" %}
{% set title = "Devices" %}


{% block content %}
<table>
    <thead>
        <tr>
            <th>URI</th>
            <th>Type</th>
            <th>Name</th>
            <th></th>
        </tr>
        <tr>
            <th><input type="text" onkeyup="filter_table(this)" placeholder="Search for uri.."></th>
            <th>
                <select onchange="filter_table(this)">
                    <option value="">All</option>
                    <option value="device">Device</option>
                    <option value="group">Group</option>
                    <option value="edge instantiable">Edge</option>
                    <option value="cloud instantiable">Cloud</option>
                </select>
            </th>
            <th><input type="text" onkeyup="filter_table(this)" placeholder="Search for names.."></th>
            <th><a href="devices/create" class="material-symbols-rounded p-2">add</a></th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td class="max-w-0 copy-on-click">{{ device.url }}</td>
            <td>{{ device.type }}</td>
            <td>{{ device.name }}</td>
            <td class=" text-center">
                <a href="devices/details?url={{ device.url }}" class="material-symbols-rounded p-2">edit</a>
                <a href="devices/delete?url={{ device.url }}" class="material-symbols-rounded p-2 bg-red-500" onclick="return confirm('Are you sure you want to delete the device?')">delete</a>
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}