BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY 54.00000 MHz ;
#External clock and reset
IOBUF PORT "ClockFPGA" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ClockFPGA" SITE "128" ;
IOBUF PORT "FPGA_nReset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "FPGA_nReset" SITE "126" ;
#SPI communication with RaspberryPie
IOBUF PORT "SPI0_SCLK" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "SPI0_SCLK" SITE "138" ;
IOBUF PORT "SPI0_nCE0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "SPI0_nCE0" SITE "127" ;
IOBUF PORT "SPI0_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MOSI" SITE "133" ;
IOBUF PORT "SPI0_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MISO" SITE "139" ;
#FPGA IO Pins
