BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY 54.00000 MHz ;
#External clock and reset
IOBUF PORT "ClockFPGA" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ClockFPGA" SITE "128" ;
IOBUF PORT "FPGA_nReset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "FPGA_nReset" SITE "126" ;
#SPI communication with RaspberryPie
IOBUF PORT "SPI0_SCLK" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "SPI0_SCLK" SITE "138" ;
IOBUF PORT "SPI0_nCE0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "SPI0_nCE0" SITE "127" ;
IOBUF PORT "SPI0_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MOSI" SITE "133" ;
IOBUF PORT "SPI0_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SPI0_MISO" SITE "139" ;
#FPGA IO Pins
LOCATE COMP "IO_DATA[0]"  SITE "125" ;                  # GPIO0
LOCATE COMP "IO_DATA[1]"  SITE "122" ;                  # GPIO1

LOCATE COMP "IO_DATA[2]"  SITE "84" ;                   # Stepper0_LSDir0
LOCATE COMP "IO_DATA[3]"  SITE "85" ;                   # Stepper0_LSDir1
LOCATE COMP "IO_DATA[4]"  SITE "17" ;                   # HBridge0B_LS
LOCATE COMP "IO_DATA[5]"  SITE "15" ;                   # HBridge0A_LS
LOCATE COMP "IO_DATA[6]"  SITE "92" ;                   # Stepper1_LSDir1
LOCATE COMP "IO_DATA[7]"  SITE "91" ;                   # Stepper1_LSDIR0
LOCATE COMP "IO_DATA[8]"  SITE "57" ;                   # Input7

LOCATE COMP "IO_DATA[9]"  SITE "87" ;                   # Stepper0_EncA
LOCATE COMP "IO_DATA[10]" SITE "89" ;                   # Stepper0_EncB
LOCATE COMP "IO_DATA[11]" SITE "86" ;                   # Stepper0_EncI
LOCATE COMP "IO_DATA[12]" SITE "104" ;                  # Stepper1_EncA
LOCATE COMP "IO_DATA[13]" SITE "105" ;                  # Stepper1_EncB
LOCATE COMP "IO_DATA[14]" SITE "106" ;                  # Stepper1_EncI

LOCATE COMP "IO_DATA[15]" SITE "78" ;                   # Stepper0_CLK
LOCATE COMP "IO_DATA[16]" SITE "77" ;                   # Stepper0_ENN
LOCATE COMP "IO_DATA[17]" SITE "83" ;                   # Stepper0_SG
LOCATE COMP "IO_DATA[18]" SITE "81" ;                   # Stepper0_STEP
LOCATE COMP "IO_DATA[19]" SITE "82" ;                   # Stepper0_DIR
LOCATE COMP "IO_DATA[20]" SITE "76" ;                   # Stepper0_nCS
LOCATE COMP "IO_DATA[21]" SITE "75" ;                   # Stepper0_SCK
LOCATE COMP "IO_DATA[22]" SITE "74" ;                   # Stepper0_MOSI
LOCATE COMP "IO_DATA[23]" SITE "373" ;                  # Stepper0_MISO

LOCATE COMP "IO_DATA[24]" SITE "1" ;                    # HBridge0AB_Enable
LOCATE COMP "IO_DATA[25]" SITE "2" ;                    # HBridge0A_PWM
LOCATE COMP "IO_DATA[26]" SITE "6" ;                    # HBridge0B_PWM

LOCATE COMP "IO_DATA[27]" SITE "103" ;                  # Stepper1_CLK
LOCATE COMP "IO_DATA[28]" SITE "100" ;                  # Stepper1_ENN
LOCATE COMP "IO_DATA[29]" SITE "95" ;                   # Stepper1_SG
LOCATE COMP "IO_DATA[30]" SITE "93" ;                   # Stepper1_STEP
LOCATE COMP "IO_DATA[31]" SITE "94" ;                   # Stepper1_DIR 
LOCATE COMP "IO_DATA[32]" SITE "99" ;                   # Stepper1_nCS
LOCATE COMP "IO_DATA[33]" SITE "98" ;                   # Stepper1_SCK
LOCATE COMP "IO_DATA[34]" SITE "97" ;                   # Stepper1_MOSI
LOCATE COMP "IO_DATA[35]" SITE "96" ;                   # Stepper1_MISO

LOCATE COMP "IO_DATA[36]" SITE "141" ;                  # LEDPowerR
LOCATE COMP "IO_DATA[37]" SITE "140" ;                  # LEDPowerG
LOCATE COMP "IO_DATA[38]" SITE "33" ;                   # LightRed
LOCATE COMP "IO_DATA[39]" SITE "34" ;                   # LightWhite
LOCATE COMP "IO_DATA[40]" SITE "35" ;                   # LightGreen
IOBUF PORT "IO_DATA[0]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[1]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[2]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[3]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[4]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[5]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[6]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[7]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[8]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[9]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[10]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[11]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[12]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[13]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[14]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[15]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[16]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[17]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[18]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[19]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[20]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[21]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[22]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[23]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[24]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[25]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[26]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[27]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[28]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[29]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[30]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[31]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[32]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[33]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[34]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[35]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[36]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[37]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[38]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[39]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "IO_DATA[40]" IO_TYPE=LVCMOS33 DRIVE=8 ;