
###################################################################################################
# General constraints
###################################################################################################
BLOCK ASYNCPATHS ;
BLOCK RESETPATHS ;
FREQUENCY 54.00000 MHz ;



###################################################################################################
# Pin placement contstraints
###################################################################################################
#External clock and reset
LOCATE COMP "ClockFPGA" SITE "128" ;
LOCATE COMP "FPGA_nReset" SITE "3" ;


#SPI communication with RaspberryPie
LOCATE COMP "SPI0_SCLK" SITE "9" ;
LOCATE COMP "SPI0_nCE0" SITE "4" ;
LOCATE COMP "SPI0_MOSI" SITE "6" ;
LOCATE COMP "SPI0_MISO" SITE "10" ;


#FPGA IO Pins
LOCATE COMP "IO_DATA[0]" SITE "13" ;
LOCATE COMP "IO_DATA[1]" SITE "14" ;
LOCATE COMP "IO_DATA[2]" SITE "15" ;
LOCATE COMP "IO_DATA[3]" SITE "17" ;
LOCATE COMP "IO_DATA[4]" SITE "19" ;
LOCATE COMP "IO_DATA[5]" SITE "20" ;
LOCATE COMP "IO_DATA[6]" SITE "21" ;
LOCATE COMP "IO_DATA[7]" SITE "22" ;
LOCATE COMP "IO_DATA[8]" SITE "25" ;
LOCATE COMP "IO_DATA[9]" SITE "26" ;
LOCATE COMP "IO_DATA[10]" SITE "31" ;
LOCATE COMP "IO_DATA[11]" SITE "32" ;
LOCATE COMP "IO_DATA[12]" SITE "35" ;
LOCATE COMP "IO_DATA[13]" SITE "38" ;
LOCATE COMP "IO_DATA[14]" SITE "41" ;
LOCATE COMP "IO_DATA[15]" SITE "42" ;
LOCATE COMP "IO_DATA[16]" SITE "47" ;
LOCATE COMP "IO_DATA[17]" SITE "48" ;
LOCATE COMP "IO_DATA[18]" SITE "60" ;
LOCATE COMP "IO_DATA[19]" SITE "61" ;
LOCATE COMP "IO_DATA[20]" SITE "65" ;
LOCATE COMP "IO_DATA[21]" SITE "67" ;
LOCATE COMP "IO_DATA[22]" SITE "70" ;
LOCATE COMP "IO_DATA[23]" SITE "71" ;
LOCATE COMP "IO_DATA[24]" SITE "82" ;
LOCATE COMP "IO_DATA[25]" SITE "83" ;
LOCATE COMP "IO_DATA[26]" SITE "86" ;
LOCATE COMP "IO_DATA[27]" SITE "87" ;
LOCATE COMP "IO_DATA[28]" SITE "92" ;
LOCATE COMP "IO_DATA[29]" SITE "93" ;
LOCATE COMP "IO_DATA[30]" SITE "96" ;
LOCATE COMP "IO_DATA[31]" SITE "97" ;
LOCATE COMP "IO_DATA[32]" SITE "24" ;
LOCATE COMP "IO_DATA[33]" SITE "23" ;
LOCATE COMP "IO_DATA[34]" SITE "28" ;
LOCATE COMP "IO_DATA[35]" SITE "27" ;
LOCATE COMP "IO_DATA[36]" SITE "34" ;
LOCATE COMP "IO_DATA[37]" SITE "33" ;
LOCATE COMP "IO_DATA[38]" SITE "40" ;
LOCATE COMP "IO_DATA[39]" SITE "39" ;
LOCATE COMP "IO_DATA[40]" SITE "45" ;
LOCATE COMP "IO_DATA[41]" SITE "44" ;
LOCATE COMP "IO_DATA[42]" SITE "59" ;
LOCATE COMP "IO_DATA[43]" SITE "58" ;
LOCATE COMP "IO_DATA[44]" SITE "63" ;
LOCATE COMP "IO_DATA[45]" SITE "62" ;
LOCATE COMP "IO_DATA[46]" SITE "69" ;
LOCATE COMP "IO_DATA[47]" SITE "68" ;
LOCATE COMP "IO_DATA[48]" SITE "81" ;
LOCATE COMP "IO_DATA[49]" SITE "78" ;
LOCATE COMP "IO_DATA[50]" SITE "85" ;
LOCATE COMP "IO_DATA[51]" SITE "84" ;
LOCATE COMP "IO_DATA[52]" SITE "91" ;
LOCATE COMP "IO_DATA[53]" SITE "89" ;
LOCATE COMP "IO_DATA[54]" SITE "95" ;
LOCATE COMP "IO_DATA[55]" SITE "94" ;
LOCATE COMP "IO_DATA[56]" SITE "99" ;
LOCATE COMP "IO_DATA[57]" SITE "98" ;
LOCATE COMP "IO_DATA[58]" SITE "103" ;
LOCATE COMP "IO_DATA[59]" SITE "100" ;
LOCATE COMP "IO_DATA[60]" SITE "105" ;
LOCATE COMP "IO_DATA[61]" SITE "104" ;
LOCATE COMP "IO_DATA[62]" SITE "107" ;
LOCATE COMP "IO_DATA[63]" SITE "106" ;
LOCATE COMP "IO_DATA[64]" SITE "109" ;
LOCATE COMP "IO_DATA[65]" SITE "110" ;





###################################################################################################
# Pin configuration constraints
###################################################################################################
#External clock and reset
IOBUF PORT "ClockFPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_nReset" IO_TYPE=LVCMOS33 ;

#SPI communication with RaspberryPie
IOBUF PORT "SPI0_SCLK" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SPI0_nCE0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI0_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SPI0_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;


#FPGA IO Pins
IOBUF PORT "IO_DATA[0]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[1]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[2]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[3]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[4]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[5]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[6]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[7]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[8]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[9]"   IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[10]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[11]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[12]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[13]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[14]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[15]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[16]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[17]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[18]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[19]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[20]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[21]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[22]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[23]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[24]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[25]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[26]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[27]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[28]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[29]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[30]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[31]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[32]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[33]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[34]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[35]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[36]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[37]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[38]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[39]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[40]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[41]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[42]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[43]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[44]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[45]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[46]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[47]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[48]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[49]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[50]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[51]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[52]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[53]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[54]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[55]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[56]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[57]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[58]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[59]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[60]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[61]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[62]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[63]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[64]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;
IOBUF PORT "IO_DATA[65]"  IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=UP ;