<!-- Header -->
{% set
navbar = [
    {name: 'Admin',loggedIn: true, children: [
            {name: 'Devices', href: '/'+language+'/admin/devices'},  
            {name: 'Users', href: '/'+language+'/admin/users'},
            {name: 'Roles', href: '/'+language+'/admin/roles'}
    ]},
    {name: 'Lti',loggedIn: true, children: [
        {name: 'LMS Platforms', href: '/'+language+'/lti/platforms'}
    ]},
    {name: 'Experiment', children: [
        {name: 'Instruction', href: '/'+language+'/about'},
        {name: 'Start now', href: '/'+language+'/experiment'},
        {name: 'Reservation', href: '/'+language+'/about'}
    ]},
    {name: 'Tools', children: [
        {name: 'BEAST', href: 'https://goldi-labs.net/BEAST.php'},
        {name: 'GIFT', href: 'https://goldi-labs.net/GIFT/entwurf.html'},
        {name: 'SANE (Beta JS-Application)', href: 'https://goldi-labs.net/SANE/'},
        {name: 'WIDE (Standalone)', href: 'https://goldi-labs.net/WIDE/index.html?standalone=true'}
    ]},
    {divider: true},
    {name: 'Login', href: '/'+language+'/login.html', loggedIn: false},
    {name: 'Register', href: '/'+language+'/about', loggedIn: false},
    {name: 'Logout', href: '/'+language+'/logout.html', loggedIn: true},
    {icon: 'language', children: [
        {name: 'Deutsch', href: '/de/'+page},
        {name: 'English', href: '/en/'+page}
    ]}
] %}

{% if language == 'de' %}
    {% set
    navbar = [
        {name: 'Admin',loggedIn: true, children: [
            {name: 'Devices', href: '/'+language+'/admin/devices'},  
            {name: 'Users', href: '/'+language+'/admin/users'}
        ]},
        {name: 'Lti',loggedIn: true, children: [
            {name: 'LMS Platforms', href: '/'+language+'/lti/platforms'}
        ]},
        {name: 'Experiment', children: [
            {name: 'Instruction', href: '/'+language+'/about'},
            {name: 'Start now', href: '/'+language+'/experiment'},
            {name: 'Reservation', href: '/'+language+'/about'}
        ]},
        {name: 'Tools', children: [
            {name: 'BEAST', href: 'https://goldi-labs.net/BEAST.php', newwindow:true},
            {name: 'GIFT', href: 'https://goldi-labs.net/GIFT/entwurf.html', newwindow:true},
            {name: 'SANE (Beta JS-Application)', href: 'https://goldi-labs.net/SANE/', newwindow:true},
            {name: 'WIDE (Standalone)', href: 'https://goldi-labs.net/WIDE/index.html?standalone=true', newwindow:true}
        ]},
        {divider: true},
        {name: 'Login', href: '/'+language+'/login.html?redirect='+page, loggedIn: false},
        {name: 'Registrieren', href: '/'+language+'/register.html', loggedIn: false},
        {name: 'Logout', href: '/'+language+'/logout.html?redirect='+page, loggedIn: true},
        {icon: 'language', children: [
            {name: 'Deutsch', href: '/de/'+page},
            {name: 'English', href: '/en/'+page}
        ]}
    ] %}
{% endif %}

<!--
    {name: 'Documentation', horizontal: true, children: [
        {name: 'Physische Systeme', children: [
            {name: '3-Achs-Portal', href: '/'+language+'/3-achs-protal'},
            {name: 'Aufzug A (3 Etagen)', href: '/'+language+'/about'},
            {name: 'Aufzug B (4 Etagen)', href: '/'+language+'/about'},
            {name: 'Aufzug C (4 Etagen)', href: '/'+language+'/about'},
            {name: 'Bearbeitungseinheit', href: '/'+language+'/about'},
            {name: 'Hochregallager', href: '/'+language+'/about'},
            {name: 'Füllstandregelung', href: '/'+language+'/about'}
        ]}
    ]},


{name: 'Documentation', horizontal: true, children: [
{name: 'Physische Systeme', children: [
    {name: '3-Achs-Portal', href: '/'+language+'/3-achs-protal'},
    {name: 'Aufzug A (3 Etagen)', href: '/'+language+'/about'},
    {name: 'Aufzug B (4 Etagen)', href: '/'+language+'/about'},
    {name: 'Aufzug C (4 Etagen)', href: '/'+language+'/about'},
    {name: 'Bearbeitungseinheit', href: '/'+language+'/about'},
    {name: 'Hochregallager', href: '/'+language+'/about'},
    {name: 'Füllstandregelung', href: '/'+language+'/about'}
]}
]}, {name: 'Controller', children: [
                {name: 'Manual Control', href: '/'+language+'/about'},
                {name: 'Digital Demo-Board', href: '/'+language+'/about'},
                {name: 'PSOC', href: '/'+language+'/about'},
                {name: 'PLD', href: '/'+language+'/about'},
                {name: 'Automaton Graph', href: '/'+language+'/about'}
            ]}, -->

{%- macro renderItemText(item) -%}
    <div class="px-5">
        {% if item.href %}
           {% if item.newwindow%}
              <a href="{{ item.href }}" target="_blank">
           {% else %}
              <a href="{{ item.href }}">
           {% endif %}
        {% endif %}
        
            <span class="hover:font-bold bold-width text-center" data-text="{{ item.name }}">
                {% if item.icon %}
                    <span class="material-symbols-rounded align-middle">{{ item.icon }}</span>
                {%- else %}
                    {{ item.name }}
                {%- endif %}
            </span>
            {% if item.href %}
            </a>
        {% endif %}
    </div>
{%- endmacro -%}
s
{%- macro renderItem(item) -%}
    {%- if item.divider %}
        <span class="bg-white w-px h-6 mr-2"></span>
    {%- elif item.children %}
        <div class="hover:font-bold py-2 dropdown">
            <div class="absolute w-max -z-10 -mt-10 font-normal">
                <div class="bg-primary-900 rounded-xl flex {% if item.horizontal %}flex-row{% else %}flex-col{% endif %} pt-20">
                    {%- for item in item.children %}
                        {%- if not item.loggedIn is defined or item.loggedIn == isLoggedIn -%}
                            {{ renderItem(item) }}
                        {%- endif -%}
                    {%- endfor %}
                    <span class="h-2"/>
                </div>
            </div>
            {{ renderItemText(item) }}
        </div>
    {%- else -%}
        {{ renderItemText(item) }}
    {%- endif %}
{%- endmacro -%}
<header class="bg-primary-900 w-full fixed p-2 font-body z-50">
    <div class="max-w-6xl mx-auto px-4">
        <div
            class="flex justify-between h-10 min-w-max w-full">
            <!-- Logo -->
            <a href='/{{ language }}/index.html' class="flex items-center">
                <img class="h-8 w-8 mr-3 select-none pointer-events-none" src="/img/GOLDi_Logo.png" alt="Logo"/>
                <span class="inline-block font-bold text-2xl text-secondary w-max">GOLDi LABS</span>
            </a>
            <!--Navbar items -->
            <nav class="flex items-center px-10 text-primary-50 z-0">
                {%- for item in navbar  %}
                    {%- if not item.loggedIn is defined or item.loggedIn == isLoggedIn -%}
                        {{ renderItem(item) }}
                    {%- endif -%}
                {%- endfor %}
            </nav>
        </div>
    </div>
</header>
<div class="mt-8"></div>