<!-- Header -->
{% set
navbar_left = [
    {name: 'Documentation', horizontal: true, children: [
        {name: 'Controller', children: [
            {name: 'Manual Control', href: '/about'},
            {name: 'Digital Demo-Board', href: '/about'},
            {name: 'PSOC', href: '/about'},
            {name: 'PLD', href: '/about'},
            {name: 'Automaton Graph', href: '/about'}
        ]},
        {name: 'Physische Systeme', children: [
            {name: '3-Achs-Portal', href: '/about'},
            {name: 'Aufzug A (3 Etagen)', href: '/about'},
            {name: 'Aufzug B (4 Etagen)', href: '/about'},
            {name: 'Aufzug C (4 Etagen)', href: '/about'},
            {name: 'Bearbeitungseinheit', href: '/about'},
            {name: 'Hochregallager', href: '/about'},
            {name: 'Füllstandregelung', href: '/about'}
        ]}
    ]},
    {name: 'Experiment', children: [
            {name: 'Instruction', href: '/about'},
            {name: 'Start now', href: '/experiment'},
            {name: 'Reservation', href: '/about'}
    ]},
    {name: 'Tools', children: [
            {name: 'BEAST', href: '/about'},
            {name: 'GIFT', href: '/about'},
            {name: 'SANE (Beta JS-Application)', href: '/about'},
            {name: 'SANE (JAVA-Applet Download)', href: '/about'},
            {name: 'WIDE (Standalone)', href: '/about'},
            {name: 'Admin', href: '/admin/index'}
    ]}
] %}       
{% set
          navbar_right = [
              {divider: true},
              {name: 'Login', href: '/login.html'},
              {name: 'Register', href: '/about'},
              {icon: 'language', children: [
                  {name: 'Deutsch', href: '/de/'+page},
                  {name: 'English', href: '/en/'+page}
          ]}
] %}
{% if isLoggedIn %}
       {% set
          navbar_right = [
             {divider: true},
             {name: 'Logout', href: '/logout.html'},
             {icon: 'language', children: [
                 {name: 'Deutsch', href: '/de/'+page},
                 {name: 'English', href: '/en/'+page}
          ]}
       ] %}
{% endif %}

{% if language == 'de' %}
    {% set
    navbar_left = [
        {name: 'Documentation', horizontal: true, children: [
            {name: 'Controller', children: [
                {name: 'Manual Control', href: '/about'},
                {name: 'Digital Demo-Board', href: '/about'},
                {name: 'PSOC', href: '/about'},
                {name: 'PLD', href: '/about'},
                {name: 'Automaton Graph', href: '/about'}
            ]},
            {name: 'Physische Systeme', children: [
                {name: '3-Achs-Portal', href: '/about'},
                {name: 'Aufzug A (3 Etagen)', href: '/about'},
                {name: 'Aufzug B (4 Etagen)', href: '/about'},
                {name: 'Aufzug C (4 Etagen)', href: '/about'},
                {name: 'Bearbeitungseinheit', href: '/about'},
                {name: 'Hochregallager', href: '/about'},
                {name: 'Füllstandregelung', href: '/about'}
            ]}
        ]},
        {name: 'Experiment', children: [
            {name: 'Instruction', href: '/about'},
            {name: 'Start now', href: '/about'},
            {name: 'Reservation', href: '/about'}
        ]},
        {name: 'Tools', children: [
            {name: 'BEAST', href: '/about'},
            {name: 'GIFT', href: '/about'},
            {name: 'SANE (Beta JS-Application)', href: '/about'},
            {name: 'SANE (JAVA-Applet Download)', href: '/about'},
            {name: 'WIDE (Standalone)', href: '/about'},
            {name: 'Admin', href: '/admin.html'}
        ]}
    ] %}
    {% if isLoggedIn %}
       {% set
          navbar_right = [
             {divider: true},
             {name: 'Logout', href: '/logout.html'},
             {icon: 'language', children: [
                 {name: 'Deutsch', href: '/de/'+page},
                 {name: 'English', href: '/en/'+page}
          ]}
       ] %}
    {% else %}
       {% set
          navbar_right = [
              {divider: true},
              {name: 'Login', href: '/login.html'},
              {name: 'Registrieren', href: '/register.html'},
              {icon: 'language', children: [
                  {name: 'Deutsch', href: '/de/'+page},
                  {name: 'English', href: '/en/'+page}
          ]}
       ] %}
    {% endif %}
{% endif %}



{%- macro renderItemText(item) -%}
    <div class="px-5">
        {% if item.href %}
            <a href="{{ item.href }}">
            {% endif %}
            <span class="hover:font-bold bold-width text-center" data-text="{{ item.name }}">
                {% if item.icon %}
                    <span class="material-symbols-rounded align-middle">{{ item.icon }}</span>
                {%- else %}
                    {{ item.name }}
                {%- endif %}
            </span>
            {% if item.href %}
            </a>
        {% endif %}
    </div>
{%- endmacro -%}
{%- macro renderItem(item) -%}
    {%- if item.divider %}
        <span class="bg-white w-px h-6 mr-2"></span>
    {%- elif item.children %}
        <div class="hover:font-bold py-2 dropdown">
            <div class="absolute w-max -z-10 -mt-10 font-normal">
                <div class="bg-primary-900 rounded-xl flex {% if item.horizontal %}flex-row{% else %}flex-col{% endif %} pt-20">
                    {%- for item in item.children %}
                        {{ renderItem(item) }}
                    {%- endfor %}
                    <span class="h-2"/>
                </div>
            </div>
            {{ renderItemText(item) }}
        </div>
    {%- else -%}
        {{ renderItemText(item) }}
    {%- endif %}
{%- endmacro -%}
<header class="bg-primary-900 w-full fixed p-2 font-body z-50">
    <div class="max-w-6xl mx-auto px-4">
        <div
            class="flex justify-between h-10 min-w-max w-full">
            <!-- Logo -->
            <a href='/{{ language }}/index.html' class="flex items-center">
                <img class="h-8 w-8 mr-3 select-none pointer-events-none" src="/img/GOLDi_Logo.png" alt="Logo"/>
                <span class="inline-block font-bold text-2xl text-secondary w-max">GOLDi LABS</span>
            </a>
            <!--Navbar items -->
            <nav class="flex items-center px-10 text-primary-50 z-0">
                {%- for item in navbar_left  %}
                    {{ renderItem(item) }}
                {%- endfor %}
                {%- for item in navbar_right  %}
                    {{ renderItem(item) }}
                {%- endfor %}
            </nav>
        </div>
    </div>
</header>
<div class="mt-14"></div>