{% set
    simple_text = {
        interesting: 'That might interest you:'
    }
 %}

{% if language=='de' %}
{% set
    simple_text = {
        interesting: 'Das könnte Dich auch interessieren:'
    }
 %}
{% endif %}

{% extends "layout.html" %}
{% block main %}

<div class="p-10 font-body">
    <div class="simple max-w-6xl w-full mx-auto space-y-10">
        <h1 class="text-secondary-middle pt-2 text-3xl font-semibold">{{title}}</h1>
        <div class="h-line"></div>
        {% block content %}

        {% endblock %}

        <!--{% if interesting %}
            <div class="h-line"></div>
            <h2>{{simple_text.interesting}}</h2>
            <section class="flex gap-10 justify-center w-fit mx-auto flex-wrap">
                {% for item in interesting %}
                {% from item+'_preview.html' import preview %}
                <div class="w-56 h-60 bg-primary-900 rounded-lg flex p-5 flex-col text-center gap-3">
                    <div class="bg-white w-full h-32 rounded">{{preview.image}}</div>
                    <div class="text-primary-50"><b>{{preview.title}}</b></div>
                    <div class="text-primary-50">{{preview.subtitle}}</div>
                </div>
                {% endfor %}
            </section>
        {% endif %}-->
    </div>
</div>

<div class="flex-grow"></div>

{% endblock %}