{% set
    login_wall_text = {
        login_prompt: 'You need an activated user account for this action.',
        account_setup_prompt: 'You don\'t have a user account yet?',
        button_login: 'Login',
        button_register: 'Create user account'
    }
%}
    
{% if language=='de' %}
{% set
    login_wall_text = {
        login_prompt: 'Für diese Aktion benötigen Sie ein aktiviertes Benutzerkonto.',
        account_setup_prompt: 'Sie haben noch kein Benutzerkonto?',
        button_login: 'Login',
        button_register: 'Benutzerkonto einrichten'
    }
%}
{% endif %}
    
{% macro wrapper(isLoggedIn) %}
    {% if isLoggedIn %}
        {{ caller() }}
    {% else %}
        <div class="max-w-6xl mx-auto w-full py-16 font-body">
            <div class="mx-auto flex flex-wrap-reverse justify-center gap-5">
                <div class="max-w-md px-10 space-y-5">
                    <div>{{text.description}}</div>
                    <div>{{login_wall_text.login_prompt}}</div>
                    <a href="login.html?redirect={{page}}" class="primary-button">{{login_wall_text.button_login}}</a>
                    <div>{{login_wall_text.account_setup_prompt}}</div>
                    <button class="secondary-button">{{login_wall_text.button_register}}</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}