{% import "components/elements.html" as elements %}
{% macro container() %}
    <div class="flex flex-col w-full flex-grow items-stretch">
        {{ caller() }}
    </div>
{% endmacro %}
{% macro topbar(title) %}
    <div class="h-12 p-1 bg-primary-50 shadow-l fixed flex flex-row justify-end right-0 left-72">
        {{ caller() }}
    </div>
{% endmacro %}
{% macro element(language, href) %}
    {% set href="/"+language+href %}
    {{ caller() }}
{% endmacro %}
{% macro content() %}
    <div class="flex-grow flex flex-col mt-16 my-4 mb-4 items-center">
        <div class="w-full">
        {{ caller() }}
        </div>
    </div>
{% endmacro %}