/**
 * Created by dorianmueller on 12.05.2017.
 */

html, body {
    height:100%
}

#bodywrapper {
    height: 100%;
}

.padding {

    padding: 0;
}

.sharp-corner {
    border-radius: 0 !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.col-flex-container {

    display: flex !important;
    flex-direction: column;
}

.flex-child {
    flex-grow: 1;
}

/*** non-responsive ***/
#row2 {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

#tree > ul {
    border: none;
}

.no-margin{
    margin: 0;
}

#buttons {
    padding: 1em;
}

#row1 {
    margin-bottom:0;
}

#right-nav-help {
    margin-right: 0;
}

/*** tabStyle ***/
#tabBar {
    margin: 0;
}

#tabBar > li {
    position:relative;
}

#tabBar > li > a {
    display:inline-block;
    /*padding: 15px;*/
}

#tabBar > li > span {
    display:inline-block;
    cursor:pointer;
    position:absolute;
    right: 10px;
    top: 15px;
    color: red;
}

#editor {
    border-left: 2px;
    border-color: #555;
}

/*** workspace parameter dialog ***/

.beast-parameter-invalid {
    color: red;
}

/*** workspace parameter tooltip ***/

.beast-parameter-tooltip {
    background-color: rgba(230,230,230,1);
    text-align: center;
    border:  1px solid gray;
    margin: 0.5em;
    border-radius: 5px;
}

.beast-parameter-tooltip td.name{
    text-align: right;
}

.beast-parameter-tooltip td.value{
    text-align: left;
    padding-left: 0.5em;
    white-space:nowrap;
}

.beast-parameter-colorpreview {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    margin-left: 0.3em;
}

/*** workspace line simulation ***/
.beast-connection-hot {
    stroke: #ff0000;
}
.beast-connection-cold {
    stroke: #000000;
}

/*** switch buttons ***/
.switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 45px;
 }

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 39px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(22px);
}
